body
{
    padding: 0%;
    width: 1000px;
    height: 950px;
    margin: auto;
    background-color: black;
}

#nav, #ul
{
    width: 1000px;
    height: 100px;
    font-weight: 100px;
    margin:0;
    list-style: none;
    padding: 0;
    display: flex;
}

li
{
    background-color: lightblue;
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    flex-grow: 1;
}

#banner
{
    width: 800px;
    height: 300px;
    float: left;
    background-color: aqua;
}

#logo
{
    width: 200px;
    height: 100px;
    float: left;
    background-color: aquamarine;
}

#login
{
    width: 200px;
    height: 100px;   
    float: left;
    background-color: bisque;
}

#form
{
    width: 200px;
    height: 100px;
    float: left;
    background-color: lightcoral;
}

#asideIz
{
    width: 200px;
    height: 400px;
    float: left;
    background-color: lightgreen;
}

#article
{
    width: 500px;
    height: 400px;
    float: left;
    background-color: lightpink;
}

#asideDe
{
    width: 300px;
    height: 400px;
    float: right;
    background-color: lightcyan;
}

#footer
{
    width: 1000px;
    height: 50px;
    background-color: lightseagreen;
    float: left;
}

p
{
    align-content: center;
    background-color: white;
    width: 100px;
    height: 25px;
    text-align: center;
}