body
{
    padding: 0%;
    width: 750px;
    height: 250px;
    margin: auto;
    background-color: black;
}

#Banner
{
    width: 600px;
    height: 250px;
    background-color: aquamarine;
    float: left;
}

#Logo
{
    width: 150px;
    height: 250px;
    float: left;
    background-color: lightseagreen;
}

#Nav, #ul
{
    width: 750px;
    height: 50px;
    margin:0%;
    padding: 0%;
    display: block;
    float: left;
}

li
{
    background-color: lightgreen;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    flex-grow: 1;
    float: left;
    width: 110px;
    height: 20px;
}

#Article
{
    width: 450px;
    height: 400px;
    float: left;
    background-color: lightcoral;
}
#Aside
{
    width: 300px;
    height: 400px;
    float: left;
    background-color: lightpink;
}
#Footer 
{
    width: 750px;
    height: 50px;
    background-color: lightslategrey;
    float: left;
}

p
{
    align-content: center;
    background-color: white;
    width: 100px;
    height: 25px;
    text-align: center;
}